In [1]:
# yfinacnce 설치가 필요한 경우, 아래 주석을 해지하고 실행
#!pip inatall yfinance

In [2]:
import yfinance as yf
import pandas as pd

df = yf.download("NVDA", period="1y", interval="1d", multi_level_index = False)
df.head()

C:\Users\zhini\AppData\Local\Temp\ipykernel_20652\568620463.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("NVDA", period="1y", interval="1d", multi_level_index = False)
[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open     Volume
Date
2024-08-09  104.716919  106.566333  103.397336  105.606637  290844200
2024-08-12  108.985573  111.034929  106.226450  106.286428  325559900
2024-08-13  116.103317  116.193293  111.544760  112.404489  312646700
2024-08-14  118.042717  118.562549  114.033981  118.492572  339246400
2024-08-15  122.821205  123.201082  117.432908  118.722501  318086700

In [3]:
# 1. 기본 정보 확인
print("Shape:", df.shape)
print("\n=====Info:=====")
df.info()
print("\n=====Describe:=====")
print(df.describe())

Shape: (250, 5)

=====Info:=====
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 250 entries, 2024-08-09 to 2025-08-08
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   250 non-null    float64
 1   High    250 non-null    float64
 2   Low     250 non-null    float64
 3   Open    250 non-null    float64
 4   Volume  250 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.7 KB

=====Describe:=====
            Close        High         Low        Open        Volume
count  250.000000  250.000000  250.000000  250.000000  2.500000e+02
mean   132.995044  135.218939  130.461616  132.947873  2.504219e+08
std     18.833912   18.536872   19.158300   18.982187  9.660913e+07
min     94.303452   99.433098   86.613986   87.453924  1.051570e+08
25%    117.892822  120.254144  115.694807  118.036406  1.839686e+08
50%    134.248329  136.315536  131.445305  134.109887  2.291447e+08
75%    141.964325  144.360061  140.565126  142.494999  2.991678e+08
max    182.699997  183.880005  180.399994  182.899994  8.188309e+08

In [4]:
# 2. 컬럼명과 데이터 타입
print("컬럼명:", df.columns.tolist())
print("데이터 타입:")
print(df.dtypes)

컬럼명: ['Close', 'High', 'Low', 'Open', 'Volume']
데이터 타입:
Close     float64
High      float64
Low       float64
Open      float64
Volume      int64
dtype: object

In [5]:
# 3. 첫 5개, 마지막 5개 행
print("첫 5개 행:")
print(df.head())
print("\n마지막 5개 행:")
print(df.tail())

첫 5개 행:
                 Close        High         Low        Open     Volume
Date
2024-08-09  104.716919  106.566333  103.397336  105.606637  290844200
2024-08-12  108.985573  111.034929  106.226450  106.286428  325559900
2024-08-13  116.103317  116.193293  111.544760  112.404489  312646700
2024-08-14  118.042717  118.562549  114.033981  118.492572  339246400
2024-08-15  122.821205  123.201082  117.432908  118.722501  318086700

마지막 5개 행:
                 Close        High         Low        Open     Volume
Date
2025-08-04  180.000000  180.199997  174.520004  175.160004  148174600
2025-08-05  178.259995  180.259995  175.899994  179.619995  156407600
2025-08-06  179.419998  179.899994  176.250000  176.330002  137192300
2025-08-07  180.770004  183.880005  178.800003  181.570007  151878400
2025-08-08  182.699997  183.300003  180.399994  181.550003  122765700

In [6]:
# 4. 종가 기본 통계
print(f"종가 최댓값: {df['Close'].max():,.0f}")
print(f"종가 최솟값: {df['Close'].min():,.0f}")
print(f"종가 평균값: {df['Close'].mean():,.0f}")

종가 최댓값: 183
종가 최솟값: 94
종가 평균값: 133

In [7]:
# 5. 거래량 통계
print(f"거래량 평균: {df['Volume'].mean():,.0f}")
print(f"거래량 중앙값: {df['Volume'].median():,.0f}")
print(f"거래량 표준편차: {df['Volume'].std():,.0f}")

거래량 평균: 250,421,855
거래량 중앙값: 229,144,700
거래량 표준편차: 96,609,128

In [8]:
# 6. 고가-저가 차이 평균
high_low_diff = df['High'] - df['Low']
print(f"고가-저가 차이 평균: {high_low_diff.mean():,.0f}")

고가-저가 차이 평균: 5

In [9]:
# 7. 특정 컬럼 선택
selected_df = df[['Close', 'Volume']].copy()
print(selected_df.head())

                 Close     Volume
Date
2024-08-09  104.716919  290844200
2024-08-12  108.985573  325559900
2024-08-13  116.103317  312646700
2024-08-14  118.042717  339246400
2024-08-15  122.821205  318086700

In [10]:
# 8. 최근 10개 데이터
recent_10 = df.tail(10)
print(recent_10)

                 Close        High         Low        Open     Volume
Date
2025-07-28  176.750000  177.000000  173.970001  174.020004  140023500
2025-07-29  175.509995  179.380005  175.020004  177.960007  154077500
2025-07-30  179.270004  179.889999  176.039993  176.509995  174312200
2025-07-31  177.869995  183.300003  175.929993  182.899994  221685400
2025-08-01  173.720001  176.539993  170.889999  174.089996  204529000
2025-08-04  180.000000  180.199997  174.520004  175.160004  148174600
2025-08-05  178.259995  180.259995  175.899994  179.619995  156407600
2025-08-06  179.419998  179.899994  176.250000  176.330002  137192300
2025-08-07  180.770004  183.880005  178.800003  181.570007  151878400
2025-08-08  182.699997  183.300003  180.399994  181.550003  122765700

In [11]:
# 9. 종가 80,000원 이상 필터링
threshold = df['Close'].quantile(0.90)
high_price = df[df['Close'] >= threshold]
print(f"종가 {threshold:.2f} 이상인 날: {len(high_price)}일")

종가 158.35 이상인 날: 25일

In [12]:
# 10. 평균 거래량보다 많은 날
avg_volume = df['Volume'].mean()
high_volume_days = df[df['Volume'] > avg_volume]
print(f"평균 거래량({avg_volume:,.0f})보다 많았던 날: {len(high_volume_days)}일")

평균 거래량(250,421,855)보다 많았던 날: 99일

In [13]:
# 11. 거래량 내림차순 정렬
volume_sorted = df.sort_values('Volume', ascending=False)
print(volume_sorted['Volume'].head())

Date
2025-01-27    818830900
2025-04-09    612918300
2025-04-07    611041300
2025-01-28    579666400
2025-04-04    532273800
Name: Volume, dtype: int64

In [14]:
# 12. 일일 변동폭
df['Daily_Change'] = df['Close'] - df['Open']
print(df[['Open', 'Close', 'Daily_Change']].head())

                  Open       Close  Daily_Change
Date
2024-08-09  105.606637  104.716919     -0.889718
2024-08-12  106.286428  108.985573      2.699144
2024-08-13  112.404489  116.103317      3.698828
2024-08-14  118.492572  118.042717     -0.449855
2024-08-15  118.722501  122.821205      4.098704

In [15]:
# 13. 변동률
df['Change_Rate'] = ((df['Close'] - df['Open']) / df['Open'] * 100).round(2)
print(df[['Open', 'Close', 'Change_Rate']].head())

                  Open       Close  Change_Rate
Date
2024-08-09  105.606637  104.716919        -0.84
2024-08-12  106.286428  108.985573         2.54
2024-08-13  112.404489  116.103317         3.29
2024-08-14  118.492572  118.042717        -0.38
2024-08-15  118.722501  122.821205         3.45

In [16]:
# 14. 날짜 정보 추출
df['Year'] = df.index.year
df['Month'] = df.index.month
df['Weekday'] = df.index.day_name()
print(df[['Year', 'Month', 'Weekday']].head())

            Year  Month    Weekday
Date
2024-08-09  2024      8     Friday
2024-08-12  2024      8     Monday
2024-08-13  2024      8    Tuesday
2024-08-14  2024      8  Wednesday
2024-08-15  2024      8   Thursday

In [17]:
# 15. 월별 집계
monthly_stats = df.groupby('Month').agg({
    'Close': 'mean',
    'Volume': 'sum'
}).round(0)
print(monthly_stats)

       Close      Volume
Month
1      136.0  5948400800
2      130.0  4755230400
3      115.0  6177950300
4      105.0  6811006400
5      127.0  4756803800
6      146.0  3821296800
7      168.0  3596804400
8      138.0  6255620700
9      115.0  6271163200
10     134.0  5627917200
11     142.0  4497414600
12     137.0  4085855200

In [18]:
# 16. 연도별 최고가, 최저가
yearly_stats = df.groupby('Year').agg({
    'High': 'max',
    'Low': 'min'
})
print(yearly_stats)

            High         Low
Year
2024  152.854800  100.918105
2025  183.880005   86.613986

In [19]:
# 17. 연속 상승일 계산
df['Price_Up'] = (df['Close'] > df['Open']).astype(int)
df['Consecutive_Up'] = df['Price_Up'].groupby((df['Price_Up'] != df['Price_Up'].shift()).cumsum()).cumsum()
max_consecutive = df['Consecutive_Up'].max()
print(f"최대 연속 상승일: {max_consecutive}일")

최대 연속 상승일: 10일